html, body {
	height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 155px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	}
}

body {
	font-family: 'courier', monospace;
	font-size: 15px;
	position: relative;
}

#homelink {
	text-decoration: none;
	color: inherit;
}

h1,h2 {
	font-family: 'Lato', sans-serif;
}

#pad-page-container {
	margin-top: 50px;
	margin-left: 40px;
	background-color: #FFF;
	padding: 50px;
}

.container {
	width: auto;
	max-width: 60%;
}

.container .credit {
	margin: 20px 0;
}

.sitetitle {
	/* max-width: 680px; */
	/* margin: auto; */
}

#app-name {
	/* margin-top: 40px; */
}

.subheading {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

input, button, select {
	font-family: 'courier', monospace;
}

.post {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.content {
	font-size: 20px;
}

.header-logo {
	padding-right: 20px;
}

.pad-meta-data {
	font-family: 'courier', monospace;
	font-size: 17px;
	padding-top: 15px;
	color: gray;
}

.pad-meta {
	border-bottom: 1px solid #e5e5e5;
	margin-top: 30px;
}

.newfog-input-expiry {
	width: 100px;
}

.newfog-input-radius {
	width: 80px;
}

.pad-name-meta {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

#post-body {
	height: 96px;
	width: 85%;
	font-size: 25px;
	float: left;
	margin-right: 3%;
	padding-bottom: 0px;
}

#newpost-submit {
	height: 100px;
}

svg {
	height: 60px;
}

svg#label-radius-building {
	width: 40px;
}

svg#label-radius-cityblock {
	width: 50px;
}

svg#label-radius-neighbourhood {
	width: 70px;
}

svg#label-radius-city {
	width: 80px;
}

input[name=pad-radius] {
	display: none;
}

input[name=pad-expiry] {
	display: none;
}

#radius-options label {
	padding-right: 10px;
}

#radius-options :checked + label {
	text-decoration: underline;
	color: #333;
}

#expiry-options :checked + label {
	text-decoration: underline;
	color: #333;
}

#expiry-options label {
	padding-right: 10px;
}

#expiry-options > label:hover {
	background-color: rgba(255, 255, 153, 1);
}

#radius-options > label:hover {
	background-color: rgba(255, 255, 153, 1);
}

#expiry-wrapper label {
	display: inline;
	font-size: 12px;
}

#radius-wrapper label {
	display: inline;
	font-size: 12px;
}

#app-name-header {
	font-size: 55px;
}

.error-msg {
	color: darkred;
}

#page-content {
	min-height: 600px;
	position: relative;
}

#user-map {
	width: 100%;
	position: absolute;
	top:0; 
	left: 0;
	min-height: 1200px;
}
#main-page-padlist-container {
	background: #FFF;
	padding: 50px;
}

#newpad-post {
	margin-right: 15px;
	margin-top: 50px;
	margin-bottom: 20px;
	width: 100%;
	height: 100px;
}

#pad-list-title {
	padding-top: 20px;
	color: #666;
}

#newpad-submit {
	margin-bottom: 0px;
	display: block;
}

#n00b-help-btn {
	margin-left: 10px; 
}

#n00b-help-btn:hover {
	text-decoration:none;
}

#user-map-wrapper {
    position: relative;
}

.leaflet-tile-pane {
	opacity: 0.4 !important;
}

#spinner {
    display: none;
    width:300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}

#pad-title {
	font-weight: normal;
}

#action-bar {
    /* width: 60%; */
    /* margin: auto; */
    margin-top: 30px;
}

header {
    max-width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#newpost {
	width: 100%;
	margin-right: 10px;
	height: 100px;
	margin-bottom: 50px;
}

#newpost-wrapper {
	font-size: 20px;
	margin-right: 50px;
	margin-top: 10px;
}

.navbar {
	margin-top: 0px;
	margin-bottom: 0px;
}

[contenteditable="true"] { 
	padding: 10px; 
	outline: 2px dashed #CCC; 
} 

[contenteditable="true"]:hover { 
	outline: 2px dashed #0090D2; 
	background-color: rgba(255, 255, 153, 1);
}

.leaflet-popup-content-wrapper {
	background-color: #ffec00 !important;
}

.leaflet-popup-tip {
	background-color: #ffec00 !important;
}
