html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 105px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	}
}

body {
	font-family: 'VT323', cursive;
	font-size: 15px;
}

#homelink {
	text-decoration: none;
	color: inherit;
}

h1,h2 {
	font-family: 'Lato', sans-serif;
}

.container {
	width: auto;
	max-width: 680px;
}

.container .credit {
	margin: 20px 0;
}


.subheading {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

input, button, select {
	font-family: 'VT323', cursive;
}

.post {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.content {
	font-size: 20px;
}

.header-logo {
	padding-right: 20px;
}

.pad-meta-data {
	font-family: 'VT323', cursive;
	font-weight: bold;
	font-size: 17px;
}

.pad-meta {
	border-bottom: 1px solid #e5e5e5;
	margin-top: 30px;
}

.newfog-input-expiry {
	width: 100px;
}

.newfog-input-radius {
	width: 80px;
}

.fog-meta-name {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

#newpost-wrapper {
	margin-top: 30px;
	margin-bottom: 30px;
}

#newpost-input {
	height: 30px;
	width: 300px;
	font-size: 25px;
}

#app-name-header {
	font-size: 55px;
}

.error-msg {
	color: darkred;
}

#page-content {
	padding-bottom: 150px;
}

#padlist {
	padding-top: 50px;
}

#user-map {
	margin: 40px 40px 0 0;
	float: right;
	height: 210px;
	width: 210px;
}

#user-map-wrapper {
	position: fixed;
	top: 40px;
	right: 40px;
}

#spinner {
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}
