head
	title GeoPad
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="description", content="")
	meta(name="author", content="")
	link(href='http://fonts.googleapis.com/css?family=Lato:100,900', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')

	// CSS
	link(rel="stylesheet", href="/css/bootstrap.css")
	link(rel="stylesheet", href="/css/bootstrap-responsive.css")
	link(rel="stylesheet", href="/css/custom.css")

	// Fav and touch icons
	link (rel="icon" href="/img/favicon.ico")