!!! 5
html

    include header

    body
        block titlearea

            .navbar
                .navbar-inner
                    header
                        .sitetitle#app-name
                            h1#app-name-header 
                                a#homelink(href="/") Geopad
                        .sitetitle
                            h3.subheading
                                img.header-logo(src="/img/Location-Icon.jpeg")
                                | Location-specific notepads for yourself and others nearby. 
                                a#n00b-help-btn(title="help", href="#n00b-help", role="button", data-toggle="modal") [ ? ]
                            p
                                small.text-error Warning! 
                                small.text-warning.
                                    Alpha software. Your mileage may vary, use at your own risk, etc. 
                                    <a href="https://github.com/jessykate/geopad/issues" target="blank">Send feedback</a>

                #n00b-help.modal.hide.fade 
                    .modal-header
                        h3 What are Geopads?
                    .modal-body
                        ul
                            li 
                                h3.subheading Geopads are an easy way to share or chat with people nearby, or leave yourself private notes around the world. 
                            li 
                                h3.subheading Browse and add to existing geopads, or create your own
                            li 
                                h3.subheading You can only see geopads that are nearby!
                            li
                                h3.subheading Your 'My Account' page keeps a list of all geopads you have participated in, even ones that are now far away, or have expired from the public listings. You won't lose anything. 

        #user-map-wrapper
            #user-map

        // Wrap all page content here
        .container#wrap#page-content
            #spinner
                img(src="/img/ajax_loader_large.gif", alt="Loading...")

            block content


        script.

            // focus the new post input field
            $("#newpad-post").focus();

            // the app creates a random identity for the user stored in
            // LocalStorage.
            get_or_create_random_identity();

            // enable date and time to be displayed in relative terms.
            $.timeago.settings.allowFuture = true;
            $(document).ready(function() {
                $(".relative-date").timeago();
            });

            $("#newpad").submit(function() {
                $("#newpad-user-lat").val(page_vars.user_corrected_lat);
                $("#newpad-user-lng").val(page_vars.user_corrected_lng);
                $("#newpad-user-id").val(localStorage.geopad_userid);
                return true;
            });


            // Piwik Analytics
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.sexysysadmin.com//";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();

        noscript
            p
                img(src="http://piwik.sexysysadmin.com/piwik.php?idsite=1", style="border:0", alt="")

        block script

