!!! 5
html
	include header
	script(type="text/javascript", src="http://code.jquery.com/jquery-1.7.2.js")
	script(type="text/javascript", src="/js/vendor/modernizr-1.6.min.js")
	script(type="text/javascript", src="/js/vendor/underscore.js")
	script(type="text/javascript", src="/js/vendor/bootstrap.js")
	script(type="text/javascript", src="/js/location.js")

	body
	block content

