!!! 5
html

    include header

    script(type="text/javascript", src="/js/jquery-1.8.2.js")
    script(type="text/javascript", src="/js/vendor/modernizr-1.6.min.js")
    script(type="text/javascript", src="/js/vendor/underscore.js")
    script(type="text/javascript", src="/js/vendor/bootstrap.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")

    script(type="text/javascript", src="/js/location.js")

    body
        // Wrap all page content here
        #wrap
            .container#page-content
                h1#app-name-header 
                    a#homelink(href="/") Geopad
                h3.subheading
                    img.header-logo(src="/img/Location-Icon.jpeg") .
                    | Location-specific notepads shared with people nearby.

                block content

        #footer.navbar-fixed-bottom
            .container
                h3.subheading I Want a New One!
                form#newpad(action="/api/pad/new/", method="GET")
                    input.newfog-input-name#name(type="text", name="name", placeholder="Pad Name")
                    input.newfog-input-radius#radius(type="number", name="radius", placeholder="Radius (meters)")
                    input.newfog-input-expiry#expiry(type="number", name="expiry", placeholder="Expiry (hours)")
                    input.btn(type="submit") Create

        script.
            var socket = io.connect('http://localhost:3000'); 
            socket.on('newpad-notify', function (data) {
                $("#padlist").append(data);
                // reset the form values 
                $("input#name").val("");
                $("input#radius").val("");
                $("input#expiry").val("");
            });

            $("#newpad").submit(function() {		
                formdata = {
                    pad_name: $("input#name").val(),
                    pad_radius: $("input#radius").val(),
                    pad_expiry: $("input#expiry").val(),
                    user_lat: user_lat,
                    user_long: user_long
                };
                console.log("form data:");
                console.log(formdata);

                request = $.ajax({
                    data: decodeURIComponent($.param(formdata)),
                    type: "GET",
                    contentType: "application/json",
                    url: "/api/pad/new/",
                });
                request.done(function(msg, status) {
                    console.log("response received with status code " + status);
                    console.log(msg);
                });
                request.fail(function(msg) {
                    console.log("error:")
                    console.log(msg);
                    $("#pad-error").html(msg.responseText);			
                });

                return false;
            });

        block script
