!!! 5
html

    include header

    body
        block titlearea

            .sitetitle#app-name
                h1#app-name-header 
                    a#homelink(href="/") Geopad
                
            #user-map-wrapper
                #user-map

            .sitetitle
                h3.subheading
                    img.header-logo(src="/img/Location-Icon.jpeg")
                    | Location-specific notepads shared with people nearby.
                p
                    small.text-error Warning! 
                    small.text-warning.
                        This is in-progress software. Database will be deleted
                        frequently and with no warning. Use for testing only. 




        // Wrap all page content here
        .container#wrap#page-content

            #spinner
                img(src="/img/ajax_loader_large.gif", alt="Loading...")


            #n00b-help.alert
                a.close(data-dismiss="alert", href="#") 
                    i.icon-remove
                ul
                    li 
                        h3.subheading Geopads are an easy way to share or chat with people nearby
                    li 
                        h3.subheading Browse through existing geopads or create your own
                    li 
                        h3.subheading You can only see notepads that are nearby! (But you can always go back to look at notepads you have viewed in the past.) 


            block content

            #footer.navbar-fixed-bottom
                .container
                    h3.subheading I Want a New One!
                    form#newpad(action="/api/pad/new/", method="GET")
                        input.newfog-input-name#name(type="text", name="name", placeholder="Pad Name")
                        input.newfog-input-radius#radius(type="number", name="radius", placeholder="Radius (m)")
                        input.newfog-input-expiry#expiry(type="number", name="expiry", placeholder="Expiry (hours)")
                        input.btn(type="submit") Create
                    div.pull-right
                        a(href="https://github.com/jessykate/geopad/issues") Ideas/Suggestions

        script.

            // the app creates a random identity for the user stored in
            // LocalStorage.
            get_or_create_random_identity();

            // enable date and time to be displayed in relative terms.
            $.timeago.settings.allowFuture = true;
            $(document).ready(function() {
                $(".relative-date").timeago();
            });

            // only show the help info if it's the user's first time on the
            // site. 
            if(localStorage["geopad_userid"]) {
                $('#n00b-help').hide();
            }

            // new pad creation is available on every page
            $("#newpad").submit(function() {		
                formdata = {
                    pad_name: $("input#name").val(),
                    pad_radius: $("input#radius").val(),
                    pad_expiry: $("input#expiry").val(),
                    user_lat: page_vars.user_corrected_lat,
                    user_long: page_vars.user_corrected_lng
                };
                console.log("form data:");
                console.log(formdata);

                request = $.ajax({
                    data: decodeURIComponent($.param(formdata)),
                    type: "GET",
                    contentType: "application/json",
                    url: "/api/pad/new/",
                });
                request.fail(function(msg) {
                    console.log("error:")
                    console.log(msg);
                    $("#pad-error").html(msg.responseText);			
                });

                return false;
            });

            // Piwik Analytics
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.sexysysadmin.com//";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();

        noscript
            p
                img(src="http://piwik.sexysysadmin.com/piwik.php?idsite=1", style="border:0", alt="")

        block script

