!!! 5
html

    include header

    script(type="text/javascript", src="/js/jquery-1.8.2.js")
    script(type="text/javascript", src="/js/vendor/modernizr-1.6.min.js")
    script(type="text/javascript", src="/js/vendor/underscore.js")
    script(type="text/javascript", src="/js/vendor/bootstrap.js")
    script(type="text/javascript", src="/js/vendor/socket.io.js")
    script(type="text/javascript", src="/js/vendor/uuid.js")

    body
        // Wrap all page content here
        #wrap
            .container#page-content
                h1#app-name-header 
                    a#homelink(href="/") Geopad
                h3.subheading
                    img.header-logo(src="/img/Location-Icon.jpeg") .
                    | Location-specific notepads shared with people nearby.
                p
                    span.text-error Warning! 
                    span.text-warning.
                        This is in-progress software. Database will be deleted
                        frequently and with no warning. Use for testing only. 

                block content

        #footer.navbar-fixed-bottom
            .container
                h3.subheading I Want a New One!
                form#newpad(action="/api/pad/new/", method="GET")
                    input.newfog-input-name#name(type="text", name="name", placeholder="Pad Name")
                    input.newfog-input-radius#radius(type="number", name="radius", placeholder="Radius (m)")
                    input.newfog-input-expiry#expiry(type="number", name="expiry", placeholder="Expiry (hours)")
                    input.btn(type="submit") Create

        script.

            $("#newpad").submit(function() {		
                formdata = {
                    pad_name: $("input#name").val(),
                    pad_radius: $("input#radius").val(),
                    pad_expiry: $("input#expiry").val(),
                    user_lat: user_lat,
                    user_long: user_long
                };
                console.log("form data:");
                console.log(formdata);

                request = $.ajax({
                    data: decodeURIComponent($.param(formdata)),
                    type: "GET",
                    contentType: "application/json",
                    url: "/api/pad/new/",
                });
                request.fail(function(msg) {
                    console.log("error:")
                    console.log(msg);
                    $("#pad-error").html(msg.responseText);			
                });

                return false;
            });

        block script

        script.
            // Piwik
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.sexysysadmin.com//";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();

        noscript
            p
                img(src="http://piwik.sexysysadmin.com/piwik.php?idsite=1", style="border:0", alt="")
