extends ../layout

block content

    #newbinfo
    
    #container
        #pad-error			
        #padlist Searching for nearby pads...

block script
    script.
        
        // called a single time after the initial position is retrieved. 
        connections_setup = function(user_corrected_lat, user_corrected_lng) {

            var socket = io.connect("#{domain}"); 

            socket.on('connect', function() {
                socket.emit('join', 'home');
                // join a room just for this user
                socket.emit('join', localStorage.geopad_userid);
            });

            var user_room_success_string = "join-success-"+localStorage.geopad_userid;
            socket.on(user_room_success_string, function() {
                console.log("welcome. retrieving initial set of pads...")
                retrieve_nearby_pads(user_corrected_lat, user_corrected_lng);
                $("#spinner").stop().fadeOut('fast');
            });

            socket.on('padlist', function (data) {
                pad_html = data.html;
                pad_list = data.pads;
                console.log('retrieved list of pads.');
                console.log(pad_list);
                padlist = pad_list;
                pads_recent_activity = [];
                pads_popularity = [];
                pads_created = [];
                
                $("#padlist").html(pad_html);
                for (var p in pad_list) {
                    $("#pad-selection-dropdown").append(
                        "<option value='" + pad_list[p].uuid + "'>" + pad_list[p].name + "</option>"
                    );
                }
            });

            socket.on('newpad-notify', function (data) {
                console.log(data);
                if ($("#nopads").length > 0) {
                    $("#nopads").remove();
                }
                $("#padlist").prepend($(data).fadeIn(1000));
                // reset the form values 
                $("input#name").val("");
                $("input#radius").val("");
                $("input#expiry").val("");
            });


        };

        page_vars = new page_global_vars();
        geolocation_launch(connections_setup, page_vars);


        

        

