extends ../layout

block content
    #spinner
        img(src="/img/ajax-loader-flower.gif", alt="Loading...")

    #newbinfo
    
    #container
        #pad-error			
        #padlist Searching for nearby pads...

block script
    script.
        
        // wire up the ajax-y spinning animated GIF when an ajax call is made.
        $('#spinner').ajaxStart(function () {
            $(this).fadeIn('fast');
        });

        padsort_recent_activity = function() {
        };

        padsort_popularity = function() {
        };

        padsort_created = function() {
        };

        per_page_location_callback = function() {
            socket = io.connect("#{domain}"); 

            socket.on('connect', function() {
                socket.emit('join', 'home');

                retrieve_nearby_pads(user_lat, user_long);
                $("#spinner").stop().fadeOut('fast');

            });

            socket.on('padlist', function (data) {
                console.log('retrieved list of pads.');
                padlist = data;
                pads_recent_activity = [];
                pads_popularity = [];
                pads_created = [];
                
                $("#padlist").html(data);
            });

            socket.on('newpad-notify', function (data) {
                console.log(data);
                $("#padlist").prepend($(data).fadeIn(1000));
                // reset the form values 
                $("input#name").val("");
                $("input#radius").val("");
                $("input#expiry").val("");
            });
        
        };


        

